$blue_dark: #1f2637;
$blue_dark2: #323949;
$blue_sky: #15a4fa;
$blue_light: #dadfea;
$blue_light2: #97b3ce;
$violet_light: #78829d;
$violet_light2: #535b71;
$semga: #f2795a;
$white: #fff;
$gray_light: #eef1f7;
$yellow: #ffab00;
$red: #ff0000;