.sidebar {
  min-height: 100%;
  width: 200px;
  background-color: $blue_dark;
  &__add {
    padding: 38px 20px;
    border-bottom: 2px solid $blue_dark2;
  }
  &__menu {
    border-bottom: 2px solid $blue_dark2;
    .menu {
      &__item {
        width: 100%;
        padding: 6px 20px;
        a {
          display: block;
          color: $violet_light;
          font-size: 13px;
          line-height: 26px;
          text-decoration: none;
          i {
            margin-right: 6px;
          }
        }
        &:hover {
          background-color: $blue_sky;
          a {
            color: $white;
          }
        }
        &_active {
          background-color: $blue_sky;
          a {
            color: $white;
          }
        }
      }
    }
  }
  &__actions {
    padding: 25px 20px;
    .action {
      position: relative;
      padding-left: 25px;
      margin-bottom: 20px;
      &__icon {
        color: $violet_light2;
        position: absolute;
        top: 0;
        left: 0;
      }
      &__text {
        color: $violet_light2;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 6px;
        a {
          color: $violet_light;
          text-decoration: none;
        }
      }
      &__time {
        color: $violet_light2;
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}